* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #131a22;
  height: 80px;
  width: 100%;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
}
.link {
  color: white;
}
input {
  height: 40px;
  width: 30%;
  padding: 5px;
  border-radius: 5px;
}
ul {
  float: right;
  margin-right: 30px;
}
li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

.link {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

.link:hover {
  background: grey;
  transition: 0.5s;
}
img {
  width: 60px;
  float: bottom;
}
